{% extends 'base.html' %}

{% block title %} СПИСОК МУЖЧИН{% endblock %}

{% block content %}
  <h1>Список мужчин</h1>
  {% if man  %}
        {% for man in man %}
            <div class="alert alert-warning mt-2 ">
                <p>Имя:  {{ man.name }}</p>
                <h3>Фамилия:  {{ man.surname  }}</h3>
                <p>Дата рождения:  {{ man.date_birth  }}</p>
                <p>Место жительства: {{ man.place_residence }}</p>
            </div>        
        {% endfor  %}
    {% else %}
        <p>У нас нет записей! </p>
    {% endif %}
{% endblock %}
